@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .bg-grid-neutral-900\/\[0\.02\] {
    background-image: linear-gradient(to right, rgb(28 25 23 / 0.02) 1px, transparent 1px),
                      linear-gradient(to bottom, rgb(28 25 23 / 0.02) 1px, transparent 1px);
  }
  .bg-grid-white\/\[0\.02\] {
    background-image: linear-gradient(to right, rgb(255 255 255 / 0.02) 1px, transparent 1px),
                      linear-gradient(to bottom, rgb(255 255 255 / 0.02) 1px, transparent 1px);
  }
}
